<div class="speed_counter" id="speed">0.0</div>
<div class="errors" id="errors" >0</div>
<div class="timer" id="timer" >0</div>
<div class="title" ><h1>Reload n go, no pause, no boring stats, just practice</h1></div>
<div class="container">
    <div class="quote-display" id="quoteDisplay"></div>
    <label for="quoteInput"><textarea id="quoteInput" class="quote-input" autofocus  placeholder="click to type" ></textarea></label>
</div>
